.nav-item:hover {
    text-decoration: underline;
}

section {
    position: relative;
    float: left;
    width: 50%;
    margin-left: 0px;
}

aside {
    position: relative;
    float: right;
    margin-right: 50px;
}

img {
    border: lightgrey solid 3px;
    border-radius: 15px;
}

footer {
    background-color: black;
    color: white;
    height: 300px;
    margin-top: 150px;
}