.nav-item:hover {
    text-decoration: underline;
}

section {
    position: relative;
    float: left;
    width: 50%;
    margin-left: 0px;
}

aside {
    position: relative;
    float: right;
    margin-right: 50px;
}

img {
    border: lightgrey solid 3px;
    border-radius: 15px;
}

footer {
    background-color: black;
    color: white;
    height: 300px;
    margin-top: 150px;
}

.log-in-div {
    margin-top: 100px; 
    padding: 20px; 
    border: lightgrey solid 2px; 
    border-radius: 10px;
    width: 40%;
}

.log-in-form {
    height: fit-content;
    width: fit-content;
    margin: 50px auto;
}

.log-in-table {
    margin: 30px;
}